ion-content {
background: #56ab2f;
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
background: linear-gradient(to right, #a8e063, #56ab2f);




}

h2 {
  color:#000000;
}

p {
  text-align: left;
  font-family: Montserrat
}